# Ignore build artifacts and binary outputs
/.bin/
/.lib/
/build/

# Ignore extern directory inside SpellBinding
/SpellBinding/extern/

# Ignore frontend dependencies
/SpellBinding/web/SpellBinding/node_modules/
