# Ignore build artifacts and binary outputs
/.bin/
/.lib/
/build/

# Ignore extern directory inside SpellBinding
/SpellBinding/extern/

# Ignore release packaging artifacts
/Nexus Release/SpellBinding.zip
/Nexus Release/SpellBinding/SKSE/Plugins/SpellBinding.dll
/Nexus Release/SpellBinding/SKSE/Plugins/SpellBinding.pdb
